html {
  background-color: #466995;
}

@media only screen and (orientation: portrait) {
  html {
    font-size: 1.75vh;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  html {
    font-size: 2.5vw;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body {
  margin: 0%;
  cursor: default;
  background-color: #FFF;

  a {
    color: inherit;
    text-decoration: inherit; 
  }
  a:hover {
    color: #CA3F54;
  }
}


/* Breakpoints */

$breakpoint-large: 110em;
$breakpoint-small: 63em;

/* Colors */

$screen-sf: #466995;
$highlight: #8B2635;

#root {
  @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,600,600i,700,700i');
  @import url('https://fonts.googleapis.com/css?family=Roboto:300'); 

  width: 100%;

  .nav {
    font-family: 'Lato', sans-serif;
    background-color: $screen-sf;
    color: #FFF;
    line-height: 2;
    margin: .5% 0% .5% 0%;

    h1 {
      font-weight: 300;
      text-align: center;
      font-size: 1.5em;
      margin: 0;
    }
  }

  .wrapper {
    font-family: 'Lato', sans-serif;
    margin: 1% 5% 3% 5%;
    min-height: 50em;

    @media  screen and (min-width: $breakpoint-large) {
      margin: 1% 30% 3% 30%;
    }
    
    @media screen and (max-width: $breakpoint-large) {
      margin: 0% 20% 0% 20%;
    }
 
    @media screen and (max-width: $breakpoint-small) {
      margin: 1% 10% 3% 10%;
    }

    @media screen 
      and (max-width: $breakpoint-large) 
      and (max-device-width: 1024px) 
      and (min-resolution: 1dppx) 
      and (max-resolution: 4dppx) {
      max-width: 90%;
      margin: 0 auto;
    }

    input {
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      border-radius: 0;
    }

    .submit input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    }

    label {
      display: block;
    }
  }

  .dates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0% 1%;
    height: 50px;

    button.ssf-button {
      font-family: inherit;
      font-weight: 300;
      font-size: .9em;
      background-color: #F5F6F4;
      width: 100%;
      justify-content: center;
      cursor: pointer;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
      border-radius: 4px;
    }

    button:focus {
      outline: thin dotted;
    }

    .date-calendar {
      width: 100%;
    }

    .react-datepicker-wrapper {
      display: block;
    }

    input {
      padding: 0%;
      border-radius: 4px;
      font-family: 'Lato', sans-serif;
      font-size: .9em;
      font-weight: 300;
      text-align: center;
      width: 100%;
      height: 50px;
      cursor: pointer;
      border: none;
      background-color: $screen-sf;
      color: white;
    }

    input:focus {
      outline: thin dotted;
    }

  }
  
  .loading {
    text-align: center;
    img {
      animation: rotation 1s infinite linear;
      height: 5em;
      margin-top: 15%;
    }
  }

  .welcome-hide {
    display: none;
  }

  .featured {
    margin: 2% 0% 2% 0%;
    padding: 0% 0% 2% 0%;
    background-color: #F5F6F4;
  }

  .featured-image {
    max-width: 100%
  }

  .featured h3 {
    margin: 3% 2% 3% 2%;
    font-weight: 300;
    font-size: 1.1em;
  }

  .featured-details {
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    @media only screen and (max-width: $breakpoint-small) {
      grid-template-columns: 1fr;
    }
  }

  .featured-details h4 {
    margin: 0% 2% 2% 0%;
    font-weight: 500;
    font-size: 1em
  }

  .featured-showtime {
    margin-top: 1.5%;
  }

  .featured-showtime .shows-film {
    margin-bottom: 5%;
  }


  .featured-article {
    font-weight: 300;
    font-size: 1em;
  }

  .writer {
    font-weight: 300;
    font-size: .9em;
    font-style: italic;
    margin-top: 1%;
  }

  .welcome-details {
    font-weight: 300;
    font-size: .9em;
    margin: 2%;
  }

// removed this h2
  h2.screenings-title {
    font-weight: 300;
    margin: 10% 0% 5% 0%;
    text-align: center;
  }

  .screenings-venues h3 {
    font-weight: 500;
    margin: 0%;
    font-size: 1.3em;
  }

  .venue-block {
    margin: 4% 0%;
  }

  .venue-address {
    font-weight: 300;
    font-size: 1em;
  }

  .venue-shows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: $breakpoint-small) {
      grid-template-columns: 1fr;
    }
  }

  .shows-film {
    margin-bottom: 10%;
    padding-right: 10%;
  }

  .film-series {
    margin-bottom: 1.5%;
    font-size: .75em;
    font-family: 'Courier', monospace;
    color: gray;
  }

  .film-title {
    color: $highlight;
    font-weight: 600;
    font-size: 1em;
  }

  .film-details {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: .9em; 
  }

  .film-details > div {
    margin-right: 2%;
  }

  .film-details > div:empty {
    display: none;
  }
  
  .film-note {
    font-weight: 300;
    font-size: .85em;
  }

  .showtimes {
    color: $highlight;
    font-weight: 600;
    margin-top: 1%;
  }

  .showtime {
    margin-right: 1%;
  }

  .submit-showtime {
    background-color: white;
    border: 1px black solid;
    border-radius: 10%;
    width: 1.5em;
    font-size: 1.2em;
    margin-top: 1%;
  }
  
  .submit-showtime:focus {
    outline: thin dotted;
  }

  .submit {
    margin: 2%;
  }

}